<div class="page-footer">
    <div class="my-container">
        <div class="row">
            <div class="col-12">
                <div class="nav__logo">
                    Logotype
                </div>
            </div>
            <div class="col-sm-12 col-md-4 col-lg-2">
                <p class="page-footer__chapter">СТРАНИЦЫ</p>
                <a href="" class="page-footer__link">Главная</a>
                <a href="" class="page-footer__link">О нас</a>
                <a href="" class="page-footer__link">Маршруты</a>
                <a href="" class="page-footer__link">Популярные направления</a>
                <a href="" class="page-footer__link">Спецпредложения</a>
                <a href="" class="page-footer__link">Блог</a>
                <a href="" class="page-footer__link">F.A.Q.</a>
                <a href="" class="page-footer__link">Контакты</a>
            </div>
            <div class="col-sm-12 col-md-4 col-lg-2">
                <p class="page-footer__chapter">АВИАКОМАНИИ</p>
                <a href="" class="page-footer__link">Авиакомпания 1</a>
                <a href="" class="page-footer__link">Авиакомпания 1</a>
                <a href="" class="page-footer__link">Авиакомпания 1</a>
                <a href="" class="page-footer__link">Авиакомпания 1</a>
                <a href="" class="page-footer__link">Авиакомпания 1</a>
                <a href="" class="page-footer__link">Авиакомпания 1</a>
                <a href="" class="page-footer__link">Авиакомпания 1</a>
                <a href="" class="page-footer__link">Авиакомпания 1</a>
                <a href="" class="page-footer__link">Авиакомпания 1</a>
            </div>
            <div class="col-sm-12 col-md-4 col-lg-2">
                <p class="page-footer__chapter">АЭРОПОРТЫ</p>
                <a href="" class="page-footer__link">Аэропорт 1</a>
                <a href="" class="page-footer__link">Аэропорт 1</a>
                <a href="" class="page-footer__link">Аэропорт 1</a>
                <a href="" class="page-footer__link">Аэропорт 1</a>
                <a href="" class="page-footer__link">Аэропорт 1</a>
                <a href="" class="page-footer__link">Аэропорт 1</a>
                <a href="" class="page-footer__link">Аэропорт 1</a>
                <a href="" class="page-footer__link">Аэропорт 1</a>
                <a href="" class="page-footer__link">Аэропорт 1</a>

            </div>
            <div class="col-sm-12 col-md-4 col-lg-2">
                <p class="page-footer__chapter">НАПРАВЛЕНИЯ</p>
                <a href="" class="page-footer__link">Москва - Сочи</a>
                <a href="" class="page-footer__link">Москва - Симферополь</a>
                <a href="" class="page-footer__link">Москва - Краснодар</a>
                <a href="" class="page-footer__link">Москва - Махачкала</a>
                <a href="" class="page-footer__link">Москва - Калининград</a>
                <a href="" class="page-footer__link">Москва - Париж</a>
                <a href="" class="page-footer__link">Москва - Дубаи</a>
                <a href="" class="page-footer__link">Москва - Нью-Йорк</a>
                <a href="" class="page-footer__link">Все направления</a>
            </div>
            <div class="col-sm-12 col-md-4 col-lg-2">
                <p class="page-footer__chapter">СТРАНЫ</p>
                <a href="" class="page-footer__link">Украина</a>
                <a href="" class="page-footer__link">Россия</a>
                <a href="" class="page-footer__link">Франция</a>
                <a href="" class="page-footer__link">Германия</a>
                <a href="" class="page-footer__link">Австрия</a>
                <a href="" class="page-footer__link">Чехия</a>
                <a href="" class="page-footer__link">Италия</a>
                <a href="" class="page-footer__link">Таиланд</a>
                <a href="" class="page-footer__link">Все страны</a>
            </div>
            <div class="col-sm-12 col-md-4 col-lg-2">
                <p class="page-footer__chapter">ГОРОДА</p>
                <a href="" class="page-footer__link">Киев</a>
                <a href="" class="page-footer__link">Москва</a>
                <a href="" class="page-footer__link">Париж</a>
                <a href="" class="page-footer__link">Будапешт</a>
                <a href="" class="page-footer__link">Бостон</a>
                <a href="" class="page-footer__link">Уфа</a>
                <a href="" class="page-footer__link">Казань</a>
                <a href="" class="page-footer__link">Краснодар</a>
                <a href="" class="page-footer__link">Все города</a>
            </div>
            <div class="col-12 my-4 px-0 px-sm-3">
                <div class="d-flex flex-wrap align-items-center">
                    <div class="d-block d-sm-flex">
                        <a href="#" class="page-footer__link mr-3">Телефон</a>
                        <a href="#" class="page-footer__link">Почта</a>
                    </div>
                    <div class="page-footer__line col-12 col-lg"></div>
                    <div class="col d-lg-none"></div>
                    <div class="d-block d-sm-flex">
                        <a href="#" class="page-footer__link"> </a>
                        <a href="#" class="page-footer__link">2021</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<link rel="stylesheet" href="/widgets/widets.css">


<script src="js/jquery-3.4.1.min.js"></script>
<script src="js/plugins.min.js"></script>
<script src="owlcarousel/owl.carousel.min.js"></script>
<script src="js/main.min.js"></script>
<script src="js/mainnew.min.js"></script>


</body>

</html>

